[ req ]
distinguished_name = req_distinguished_name
req_extensions = v3_req
prompt = no

[ req_distinguished_name ]
CN = dns.ats.internal
O  = AikusoniTradeSystem
OU = DNS Team
L  = Pyeongtaek
ST = Gyeonggido
C  = KR

[ v3_req ]
basicConstraints = critical, CA:TRUE, pathlen:0
keyUsage = critical, keyCertSign, cRLSign, digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth
subjectAltName = @alt_names

[ alt_names ]
DNS.1 = ${ENV::DNS_HOST_NAME}
DNS.2 = localhost
IP.1  = 127.0.0.1


