CREATE USER ${VAULT_USER_ID} WITH PASSWORD '${VAULT_USER_PW}';
ALTER USER ${VAULT_USER_ID} WITH CREATEROLE;

CREATE DATABASE user_db encoding 'UTF8';
\c user_db;
CREATE SCHEMA user_db;

GRANT ALL PRIVILEGES ON DATABASE user_db TO ${VAULT_USER_ID};
GRANT ALL PRIVILEGES ON SCHEMA user_db TO ${VAULT_USER_ID};